.card {
  display: grid;
  grid-template-areas: 'image' 'title' 'content';
  border: 1px solid $border-color;
  margin-bottom: $global-margin;
  overflow: hidden;

  .image {
    grid-area: image;
    display: flex;

    img, figure {
      margin: 0;
      display: block;
      width: 100%;
    }
  }

  .title, .content {
    padding: $global-padding;
  }

  .title {
    grid-area: title;
  }

  .content {
    grid-area: content;
  }
}
