.container {
  margin: auto;
  max-width: $max-width;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1rem;
  }

  &.nowrap {
    flex-wrap: nowrap;
  }

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }
}

.grid {
  display: grid;

  &.horizontal {
    grid-auto-flow: column;
  }

  &.vertical {
    grid-auto-flow: row;
  }

  &.gap {
    grid-gap: $global-gap;
  }
}
