$body-font-family: 'Open Sans', sans-serif !default;
$primary-color: dodgerBlue !default;
$border-color: lightgray !default;
$max-width: 80rem !default;
$global-padding: 1rem !default;
$global-margin: 1rem !default;
